.post-date {
	background:#f4f4f4;
	padding:4px
	margin:3px 0;
	display:block;
}
.btn-default {
	background:#f4f4f4;
}

.form-controlaa {
	background:#f4f4f4;
}

.fond_gri
{ 
  background:#c0b2a6;
}
.fond_h4
{ 
  background:#f3eaea;
}
