@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');


body 
  {
  background: #00C2FF;
  font-family: 'Montserrat',sant-serif;
  }

.login-page 
  {
  width: 650px;
  padding: 8% 0 8%;
  margin: auto;
  }

.form 
  {
 
  background: #FFFFFF;
  max-width: 375px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);*/
  }

.form input 
  {
  font-family: 'Montserrat',sant-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 1em 0 1em;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  }

  .form input:hover{
  /*background-color: grey;*/
  cursor:default;
  }

.form button 
  {
  font-family: 'Montserrat',sant-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 20px;
  }

.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
  }

.form select 
  {
  font-family: 'Montserrat',sant-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 20px;
  box-sizing: border-box;
  font-size: 20px;
  text-align: center;
  }

.text-danger
  {
  font-size: 14px;
  }

  .text-danger span
  {
    margin-top: 0;
  }

.text-danger input{
  background-color: grey;
  }


.form label{
  padding:0;
  margin: 0;
  font-size: 20px;
  text-decoration: underline;

}
